<!-- AUI Framework -->
<!DOCTYPE html>
    <html>
    <head>
         <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>LogParser</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Favicons -->

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/icons/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/icons/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/icons/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/images/icons/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="assets/images/icons/favicon.png">

        <!--[if lt IE 9]>
          <script src="assets/js/minified/core/html5shiv.min.js"></script>
          <script src="assets/js/minified/core/respond.min.js"></script>
          <script src="assets/js/minified/core/bootstrap.min.js"></script>
        <![endif]-->

        <!--[if lt IE 7]>
        <link rel="stylesheet" type="text/css" href="assets/css/minified/icons-ie7.min.css">
        <![endif]-->

        <!-- AgileUI CSS Core -->

        <link rel="stylesheet" type="text/css" href="assets/css/minified/aui-production.min.css">

        <!-- <link rel="stylesheet" type="text/css" href="../_assets/css/widgets/theme-switcher.css"> -->

        <!-- Theme UI -->

        <link id="layout-theme" rel="stylesheet" type="text/css" href="../_assets/themes/agileui/color-schemes/layouts/default.html">
        <link id="elements-theme" rel="stylesheet" type="text/css" href="../_assets/themes/agileui/color-schemes/elements/default.html">

        <link rel="stylesheet" type="text/css" href="../_assets/themes/agileui/responsive.html">
        <link rel="stylesheet" type="text/css" href="../_assets/css/helpers/responsive-elements.html">
        
      
<script type="text/javascript">

</script>

        <!-- AgileUI JS -->

        <script type="text/javascript" src="assets/js/minified/aui-production.min.js"></script>

        <script>
        
       
        
        $(document).ready(function(){
            $("#signUp").click(function(){
            	saveData();
            });
            
             $("#homePage").click(function(){
            	location.href = "http://localhost:3000/login"
            });
            
            function saveData(){
         
            	  var userName=$("#new_username").val();
            	  var password=$("#new_pass").val();
            	  if(userName!=''&&password!=''){
            	  $.ajax({
            	              type : "get",
            	              url : "/saveLogin",
            	              dataType : 'text',
            	              data : "userName=" + userName + "&password="+password,

            	              success : function(response) {
            	              if(response=='User already exists'){
            	              alert(response);
            	              $("#new_username").val('');
            	              $("#new_pass").val('');
            	              $("#new_username").focus();
            	              }
            	              
            	               if(response=='User created successfully'){
            					alert('New User Created successfully.');
            	               
            	              	location.href = "http://localhost:3000/login";            	            	
            	               } 
            	              },
            	              error : function(e) {
            	            	  Alert.render(e);
            	              }
            	       });
            	     }else
            	       alert("Username and password are mandatory fields");
            	       $("#new_username").focus();
 	
            	  
            	  }

            
        });
        
        
        
            jQuery(window).load(
                function(){

                    var wait_loading = window.setTimeout( function(){
                      $('#loading').slideUp('fast');
                      jQuery('body').css('overflow','auto');
                    },500
                    );

                });
        </script>

    </head>
    <body style="overflow: hidden;">
   

        <div id="loading" class="ui-front loader ui-widget-overlay solid-white opacity-100">
            <img src="assets/images/loader-dark.gif" alt="">
        </div>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="login-page" class="mrg25B">

            <div id="page-header" class="clearfix">
                <div id="page-header-wrapper" class="clearfix">
                    <div id="header-logo">
                        LogParser <i class="opacity-80">v1.0</i>

                        <a href="#" class="tooltip-button" data-placement="bottom" title="Close sidebar" id="close-sidebar">
                            <i class="glyph-icon icon-align-justify"></i>
                        </a>
                        <a href="#" class="tooltip-button hidden" data-placement="bottom" title="Open sidebar" id="rm-close-sidebar">
                            <i class="glyph-icon icon-align-justify"></i>
                        </a>
                        <a href="#" class="tooltip-button hidden" title="Navigation Menu" id="responsive-open-menu">
                            <i class="glyph-icon icon-align-justify"></i>
                        </a>
                    </div>
                </div>
            </div><!-- #page-header -->

        </div>
        <div class="pad20A">

            <div class="row">

<!--                 <div class="col-md-10 center-div">
                    <div class="infobox clearfix infobox-close-wrapper warning-bg mrg0A mrg15B mrg5T">
                        <a href="#" title="Close Message" class="glyph-icon infobox-close icon-remove"></a>
                        <div class="solid-orange large btn info-icon">
                            <i class="glyph-icon icon-question"></i>
                        </div>
                        <h4 class="infobox-title">Login pages</h4>
                        <p>You can create your own login pages using the included helpers, elements and guides.</p>
                    </div>
                </div> -->
                <div class="clear"></div>
                <div id="login-validation" class="col-md-3 center-margin form-vertical mrg25T" >
                    <div id="login-form" class="content-box drop-shadow">
                        <h3 class="content-box-header ui-state-default">
                            <div class="glyph-icon icon-separator">
                                <i class="glyph-icon icon-user"></i>
                            </div>
                            <span>New User - Sign Up</span>
                        </h3>
                        <div class="content-box-wrapper pad20A pad0B">
                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="login_username">
                                        Username:
                                        <span class="required">*</span>
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="form-input-icon">
                                        <i class="glyph-icon icon-envelope-alt ui-state-default"></i>
                                        <input placeholder="Username\Email" data-type="email" data-trigger="change" data-required="true" type="text" name="login_username" id="new_username">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="login_pass">
                                        Password:
                                        <span class="required">*</span>
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="form-input-icon">
                                        <i class="glyph-icon icon-unlock-alt ui-state-default"></i>
                                        <input placeholder="Password" data-trigger="keyup" data-rangelength="[3,25]" type="password" name="login_pass" id="new_pass">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="button-pane">
                            <button type="button" class="btn large primary-bg text-transform-upr font-bold font-size-11 radius-all-4" id="signUp" title="Validate!">
                                <span class="button-content">
                                    Sign Up
                                </span>
                            </button>
                             <button type="button" class="btn large primary-bg text-transform-upr font-bold font-size-11 radius-all-4" id="homePage" title="Validate!">
                                <span class="button-content">
                                    Go Home
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="divider"></div>
                   
                    <div class="ui-dialog mrg5T hide" id="login-forgot" style="position: relative !important;">
                        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                            <span class="ui-dialog-title">Recover password</span>
                        </div>
                        <div class="pad20A ui-dialog-content ui-widget-content">
                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="">
                                        Email address:
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="form-input-icon">
                                        <i class="glyph-icon icon-envelope-alt ui-state-default"></i>
                                        <input placeholder="Email address" type="text" name="" id="">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="ui-dialog-buttonpane text-center">
                            <button type="submit" class="btn large primary-bg radius-all-4" id="demo-form-valid" onclick="javascript:$(&apos;#demo-form&apos;).parsley( &apos;validate&apos; );" title="Validate!">
                                <span class="button-content">
                                    Recover Password
                                </span>
                            </button>
                            <a href="javascript:;" switch-target="#login-form" switch-parent="#login-forgot" class="btn large transparent no-shadow toggle-switch font-bold font-size-11 radius-all-4" id="login-form-valid" onclick="javascript:$(&apos;#login-validation&apos;).parsley( &apos;validate&apos; );" title="Validate!">
                                <span class="button-content">
                                    Cancel
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </body>
</html>
